name: API Tests

on: [push]

jobs:
  test-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - [cite_start]name: Start flask and execute API tests [cite: 23, 29]
        run: |
          export FLASK_APP=api.py
          export FLASK_ENV=development
          export PYTHONPATH=$GITHUB_WORKSPACE
          flask run &
          sleep 5
          python3 -m pytest tests/test_account.py 
          # Uwaga: Ścieżka tests/test_account.py zależy od tego czy przeniosłeś plik do folderu api czy nie.
          # Jeśli przeniosłeś, użyj: python3 -m pytest tests/api